@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "LexendDeca";
  src: url("../assets/fonts/LexendDeca-Bold.ttf");
  src: url("../assets/fonts/LexendDeca-Medium.ttf");
}
@layer base {
  html {
    font-family: "LexendDeca";
    background: #f4f4f4;
  }
}

